article{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

#info-titulo{
    margin: 0%;
    font-size: 40px;
    font-style: oblique;
    align-self: center;
    color: #f20531;
    font-weight: 3000px;
}

#info-slogan{
    margin: 0%;
    font-style: oblique;
    font-weight: 700;

}

.texto{
    display: flex;
    text-align: center;
    margin: 20px;
    width: 500px;
}
.sobre{
    display: flex;
    justify-content: center;
}